<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="disease">
            <h2><span jhiTranslate="amachouApp.disease.detail.title">Disease</span> {{disease.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="amachouApp.disease.name">Name</span></dt>
                <dd>
                    <span>{{disease.name}}</span>
                </dd>
                <dt><span jhiTranslate="amachouApp.disease.description">Description</span></dt>
                <dd>
                    <span>{{disease.description}}</span>
                </dd>
                <dt><span jhiTranslate="amachouApp.disease.severity">Severity</span></dt>
                <dd>
                    <span jhiTranslate="{{'amachouApp.DiseaseSeverity.' + disease.severity}}">{{disease.severity}}</span>
                </dd>
                <dt><span jhiTranslate="amachouApp.disease.symptoms">Symptoms</span></dt>
                <dd>
                    <span>{{disease.symptoms}}</span>
                </dd>
                <dt><span jhiTranslate="amachouApp.disease.tips">Tips</span></dt>
                <dd>
                    <span>{{disease.tips}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/disease', disease.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
