<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-disease-heading" jhiTranslate="amachouApp.disease.home.createOrEditLabel">Create or edit a Disease</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!disease.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="disease.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="amachouApp.disease.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="disease.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="amachouApp.disease.severity" for="field_severity">Severity</label>
                    <select class="form-control" name="severity" [(ngModel)]="disease.severity" id="field_severity"  required>
                        <option value="LOW">{{'amachouApp.DiseaseSeverity.LOW' | translate}}</option>
                        <option value="MEDIUM">{{'amachouApp.DiseaseSeverity.MEDIUM' | translate}}</option>
                        <option value="HIGH">{{'amachouApp.DiseaseSeverity.HIGH' | translate}}</option>
                        <option value="SEVERE">{{'amachouApp.DiseaseSeverity.SEVERE' | translate}}</option>
                        <option value="DEADLY">{{'amachouApp.DiseaseSeverity.DEADLY' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.severity?.dirty && editForm.controls.severity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.severity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="amachouApp.disease.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="disease.description" maxlength="10000000"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10000000 }">
                        This field cannot be longer than 10000000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="amachouApp.disease.symptoms" for="field_symptoms">Symptoms</label>
                    <input type="text" class="form-control" name="symptoms" id="field_symptoms"
                        [(ngModel)]="disease.symptoms" required maxlength="10000000"/>
                    <div [hidden]="!(editForm.controls.symptoms?.dirty && editForm.controls.symptoms?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.symptoms?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.symptoms?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10000000 }">
                        This field cannot be longer than 10000000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="amachouApp.disease.tips" for="field_tips">Tips</label>
                    <input type="text" class="form-control" name="tips" id="field_tips"
                        [(ngModel)]="disease.tips" maxlength="10000000"/>
                    <div [hidden]="!(editForm.controls.tips?.dirty && editForm.controls.tips?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tips?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10000000 }">
                        This field cannot be longer than 10000000 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
